
h3, .h3 {
    font-size: calc(1.0rem + 0.6vw);
    font-weight: lighter !important;
}

.main-body{
    padding-left: 1.47rem;
    padding-right: 1.46rem;
}

table {
    border: 1px solid var(--gray-300);
    margin-bottom: 20px;
}

.simple_table > thead > tr > th,
.simple_table > tbody > tr > th,
.simple_table > tfoot > tr > th,
.simple_table > thead > tr > td,
.simple_table > tbody > tr > td,
.simple_table > tfoot > tr > td {    
    border: 1px solid var(--gray-300);
    text-align: center;
    vertical-align: middle;
    word-break:break-all;
    line-height: 1.0;
}

.simple_table > thead > tr > th {
    background-color: var(--gray-100);
}

[data-dark-mode] .simple_table > thead > tr > th {
    background-color: var(--gray-800);
}

.simple_table.small_font > thead > tr > th,
.simple_table.small_font > tbody > tr > th,
.simple_table.small_font > tfoot > tr > th,
.simple_table.small_font > thead > tr > td,
.simple_table.small_font > tbody > tr > td,
.simple_table.small_font > tfoot > tr > td {    
    font-size: 0.75em;
}

.bs-callout-v2 {
    padding: 15px;
    margin: 15px 0px;
    border-left: 15px solid;
    border-bottom: 1px solid;
    overflow:auto;
    background-color: var(--gray-100);
}

[data-dark-mode] .bs-callout-v2{
    background-color: var(--gray-900);
}
.bs-callout-v2-primary{    
    border-color:#17a2b8;
}
.bs-callout-v2-secondary{
    border-color:#6c757d;
}
.bs-callout-v2-success{
    border-color:#28a745;
}
.bs-callout-v2-danger{
    border-color:red;
}
.bs-callout-v2-warning{
    border-color:#ff8b07;
}
.bs-callout-v2-info{
    border-color: #7B95FC;
}

.bs-callout-v2-level-1 {
    border-left-width: 5px;
}

.bs-callout-v2-level-2 {
    border-left-width: 10px;
}

.bs-callout-v2-level-3 {
    border-left-width: 15px;
}

.bs-callout-v2-level-4 {
    border-left-width: 20px;
}

.bs-callout-v2-level-5 {
    border-left-width: 25px;
}

.bs-callout-v2-level-10 {
    border-left-width: 50px;
}


.alert-2 {
    border-radius: 0px !important;
    padding: 15px;
    margin: 15px 0px;
    border-left: 15px solid;
}


[data-dark-mode] {
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #212529;
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);    
    --bs-accordion-btn-color: var(--bs-body-color); 
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
}

.accordion-flush  {
    border-top :1px solid #e9ecef;
    border-bottom :1px solid #e9ecef;
}

.accordion-flush .accordion-item {
    background-color: #F2F8FF;
    border: 1px solid #e9ecef;
    margin-bottom: 10px;    
}

.accordion-collapse  {
    background-color: var(--bs-accordion-btn-bg);
}

a {
    word-break:break-all;
}

.tags .tag-list a {
    display: inline-block;
    padding: 5px;
    border: solid 1px #eeeeee;
    color: var(--primary-accent);
    margin: 5px 5px 5px 0;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}
.tags .tag-list a:hover {
    color: var(--primary-accent);
    border-color: var(--primary-accent);
    text-decoration: none;
}

/* 해상도에 따라 상단 메뉴 UI 변경   */
@media (max-width: 1299px){
    .nav-lg-menu{
        display:none;
    }
    .nav-sm-menu{
        display:block;
    }
}
@media (min-width: 1300px){
    .nav-lg-menu{
        display:block;
    }
    .nav-sm-menu{
        display:none;
    }
}


.nav-item a {
    text-decoration: none;
    transition: all 0.5s ease;
    color: var(--text-default); 
}
.nav-item  a:hover {
    color: var(--text-default); 
}

.main-logo {
    filter: brightness(0.1);
}

[data-dark-mode] .main-logo {
    filter: brightness(1);
}

.main-logo-text {
    font-weight:bolder;    
}

.ncloud-partner-logo-gray {
    display:inline;
}

.ncloud-partner-logo-black {
    display:none;
}

[data-dark-mode] .ncloud-partner-logo-gray {
    display:none;
}

[data-dark-mode] .ncloud-partner-logo-black {
    display:inline;
}


img.docimage{
    margin-top: 10px;
    margin-bottom: 20px;
}

img.docimage-no-top{
    margin-top: 0px;
    margin-bottom: 20px;
}

img.docimage-no-bottom{
    margin-top: 10px;
    margin-bottom: 0px;
}

img.docimage-no-top-bottom{
    margin-top: 0px;
    margin-bottom: 0px;
}